/* Page styles */
body {
    margin-left: 7%;
    margin-right: 7%;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CSS styling for the panel */
.mypanel .p-panel-header {
    background-color: #07c4e8;
    color: #ffffff;
}

/* Sstyles for the text input and button above tables */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
